<div class="col-md-4 mb-4">
  <div class="card h-100 shadow-sm annonce-card">
     <div class="card-img-top text-center bg-light" style="height: 180px; overflow: hidden;">
        <% if annonce.image.attached? %>
           <%= image_tag annonce.image, class: "h-100 object-fit-cover" %>
        <% else %>
           <div class="d-flex justify-content-center align-items-center h-100">
           <i class="bi bi-image" style="font-size: 3rem;"></i>
           </div>
       <% end %>
   </div>
    <div class="card-body">
      <h5 class="card-title text-truncate"><%= annonce.titre %></h5>
      <p class="card-text description-text text-truncate"><%= annonce.description %></p>
      <p class="card-text text-muted location">
        <i class="bi bi-geo-alt"></i> <%= annonce.localisation %>
      </p>
      <p class="card-text fw-bold price"><%= number_to_currency(annonce.prix, unit: "DH", precision: 0, delimiter: " ", format: "%n %u") %></p>
    </div>
    <div class="card-footer bg-white">
      <div class="user-info">
        <i class="bi bi-person-circle"></i>
        <span><%= annonce.user.prenom %> <%= annonce.user.nom %></span>
      </div>
      <small class="text-muted">
        <i class="bi bi-clock"></i> <%= time_ago_in_words(annonce.created_at) %>
      </small>
      <%= link_to "Voir détails", annonce_path(annonce), class: "btn btn-sm btn-outline-primary float-end" %>
    </div>
  </div>
</div>